/* Home Page */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80vh;
  margin-top: 5%;
}

/* Number of Rounds input text */
#num-rounds{
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 13px;
    width: 100px;
    text-align: center;
    border: 2px solid black;    
}

/* Start Game button */
#start-button{
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 13px;
    text-align: center;
    border: 2px solid black;
    text-decoration: bold;
    box-shadow: 0 6px #999;
}

#start-button:hover {
  background-color: #3e8e41;
}

#start-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Game Page */

.game-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    height: 100vh;
}

.game-header{
    margin-top: 5%;
    height: 150px;
}


.move-choices{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.move-choice-button{
    margin: 0 10px;
    height: 200px;
    width: 200px;
}

.move-choice-button:hover {
  background-color: #3e8e41;
}

.move-choice-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#rock-button{
  rotate: 90deg;
}

#scissors-button{
  rotate: 45deg;
}

#paper-button{
  rotate: 90deg;
}

.move-choice-button:hover {
  background-color: #3e8e41;
}

#result-text{
  display: none;
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  height: 150px;
}

.result-choices{
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.result-image{
  margin: 0 20px;
  height: 100px;
  width: 100px;
}

#result-image-single{
  display: none;
  height: 400px;
  width: 400px;
}

.score-display{
  display: flex;
  flex-direction: column;
  /* make a thick border around the div */
  border: 5px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#play-again-button{
  display: none;
  background-color: green;
  color: white;
  padding: 5px;
  border-radius: 13px;
  text-align: center;
  border: 2px solid black;
  text-decoration: bold;
  box-shadow: 0 6px #999;
  justify-content: center;
  align-items: center;
}

#play-again-button:hover {
  background-color: #3e8e41;
}

#play-again-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.play-again{
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.result-text-display{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: bold;
  justify-content: center;
  color: red
}